/*
 * @file:reset.css
 * @overview:通用组件样式
 * @author:Tan-Xuewei
 * @warn:全局样式文件，不能修改
 */

html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements */
dl, dt, dd, ul, ol, li, /* list elements */
pre, /* text formatting elements */
form, fieldset, legend, button, input, textarea, /* form elements */
th, td /* table elements */ {
    margin: 0;
    padding: 0;
}

body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 arial,\5b8b\4f53;
    color: #333;
}

ul, ol { 
	list-style: none; 
}

a {
	text-decoration: none;
}

a:hover { 
	text-decoration: underline; 
}
 
button, input, select, textarea { 
	font-size: 100%; 
}

img {
	display:block;
}

html, img { 
	border: 0; 
}

.clearfix:after { 
	visibility: hidden;
	display: block;
	content: "."; 
	clear: both; 
	height: 0;
}