/*
 * @file:todos.css
 * @overview:todos页面样式
 * @author:Tan-Xuewei
 */
#my-blog {
    width: 440px;
    margin: 10px auto;
}

header,
.container {
    border: 2px solid #e32c5d;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

header,
footer {
    text-align: center;
}

footer a {
    color: #e32c5d;
}